@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* CSS Document */

table thead > tr> td{
	
	font-size:16px;
	background: -moz-linear-gradient(top, #e7eef3 0%, #cedee8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7eef3), color-stop(100%,#cedee8));
    background: -webkit-linear-gradient(top, #000000 0%,#cedee8 100%);
    background: -o-linear-gradient(top, #e7eef3 0%,#cedee8 100%);
    background: -ms-linear-gradient(top, #e7eef3 0%,#cedee8 100%);
    background: linear-gradient(to bottom, #e7eef3 0%,#cedee8 100%);
	}
table thead > tr> th{
	text-align:center;}
#button-right button{
	float:right;
	margin-left:5px;}
#button-left button{
	margin-right:5px;}
#sex-style input{
	width:20px;}
.input-style input{
	cursor:pointer;}

.bottom{
	margin-top:10px;
	}
.dataTables_length{
	margin-left:5%;}
.modal-body table tr td{
	border:none !important;
	text-align:left;}
.modal-body tr td input{	
	width:140px;}
.modal-body tr td select{	
	width:140px;}
.modal{
	margin-top:5%;}



