#reasonConfirm{
	display:none;
}
#major_oriented{
	height:100px;
}

#add table tr td input{
	width:100px !important;
}

#applyConfirm table tr td input{
	width:20px !important;
	height:40px !important;
}
