@charset "utf-8";
/* CSS Document */
.bordor-style{
	border:#416793 3px solid;
	background:#FFF;}
.interval{
	margin:30px auto;
	color:#416793;
	font-size:2em;
	font-weight:bolder;}
.padding-style{
	padding:0 30px;}
.fontDire{	
	text-align: left;
}
.majorhide{
	border:#ccc 1px solid;
	width:300px;
	height:200px;
	margin-left:18px;
}
#majormain{
	display:none;
}
.setTag{
	color: #F70004;
	font-size:20px;
}
.majorchoose{
	margin-right:10px;
}
.majorcheck{
	margin-right:10px;
	display:block;
}
#textContent{
  pointer-events:none;
}

