@charset "utf-8";
/* CSS Document */
table thead > tr> td{
	font-size:16px;
	background: -moz-linear-gradient(top, #e7eef3 0%, #cedee8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7eef3), color-stop(100%,#cedee8));
    background: -webkit-linear-gradient(top, #000000 0%,#cedee8 100%);
    background: -o-linear-gradient(top, #e7eef3 0%,#cedee8 100%);
    background: -ms-linear-gradient(top, #e7eef3 0%,#cedee8 100%);
    background: linear-gradient(to bottom, #e7eef3 0%,#cedee8 100%);
	}

table thead tr th{
	text-align:center;
}
table tbody tr td{
	text-align:center;
	cursor: pointer;
}
#showtable{
	margin-bottom:3px !important;
}
#showtable tr td{
	border: none;
	text-align:left;
}
#Applychart{
	position:fixed !important;
	top:112px;
	left:19%;
	width: 80%;
	display: none;
}
#modalcontent{
	margin-top: 20%;
}
#modalcontent2{
	margin-top: 20%;
}
.noborder{
	border: none !important;
}
#classname{
	border: none;
	
}
#grade{
	border: none;
	
}
#number{
	border: none;
	
}
#weeks{
	border: none;
	
}
#practiceapplytable span{
	cursor:pointer;
	font-size:18px;
	color:#24354a;}

.inputWidth{
	width: 80px;
}
#Leaderteacher{
	width: 100%;
}
#adviser{
	width: 100%;
}
#testername{
	width: 80%;
	float: left;
}
.buttonWidth{
	margin-left: 5px;
}
#class{
	width:82%;
}
.bottom{
	margin-top:10px;
	}
.dataTables_length{
	margin-left:5%;}

.selectWidth{
	width:12%;
	float: left;
	margin-right: 20px;
}
#delateTester{
	color: #F5060A;
	text-decoration: underline;
	cursor: pointer;
}
#delatename{
	color: #F5060A;
	text-decoration: underline;
	cursor: pointer;
}

#table{
	width:100%;
}
#table tr{
	line-height: 30px;
}
#table tbody td{
	padding:0px 3px;
}
#table input{
	line-height: 23px !important;
}
#table select{
	line-height: 23px !important;
	width: 100%;
}
.spanstyle{
	font-size: 10px;
	line-height: 15px;
}
.starColor{
	color: #F70004;
}

.deleteID{
	color:#F90409;
	text-decoration: underline;
}
.input-group-addon{
	color: #fff;
	background-color: #3071a9 !important;
}
.modeClass{
	text-align:right;
}

.spanstly{
	color: #777 !important;
    font-family: '微软雅黑' !important;
    font-size: 14px !important;
}
.laydate_yms {
	width:123px !important;
}

#Stime{
	height:35px;
}
#Etime{
	height:35px;
}	

.modalbody{
	height:432px;
	overflow-y:auto;
	}
.modalbody2{
	height:592px;
	overflow-y:auto;
	}
.modalbody3{
	height:652px;
	overflow-y:auto;
	}
.startweek{
	width:100px;
}
.endweek{
	width:100px;
}
div.Iwidth{
	width:100% !important;
}
/* #facemajoy{
	width:300px !important;
} */



