@charset "utf-8";
/* CSS Document */

.nav-tabs li{
		margin-left:30px;}
.nav-tabs li a{
		color:#fff;
		background:#4a6e98;}
.nav-tabs li a:hover{
		color:#FFF !important;
		background:#4a6e98 !important;}
.nav-tabs li a:visited{
		color:#000;}
table thead > tr> td{
	color:#5e85ac;
	font-size:16px;
	background: -moz-linear-gradient(top, #e7eef3 0%, #cedee8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7eef3), color-stop(100%,#cedee8));
    background: -webkit-linear-gradient(top, #000000 0%,#cedee8 100%);
    background: -o-linear-gradient(top, #e7eef3 0%,#cedee8 100%);
    background: -ms-linear-gradient(top, #e7eef3 0%,#cedee8 100%);
    background: linear-gradient(to bottom, #e7eef3 0%,#cedee8 100%);
	}
table thead tr td a,a:hover,a:visited{
	cursor:pointer;
	color:#5e85ac;}
.bottom{
	margin-top:10px;
	}
.dataTables_length{
	margin-left:5%;}
.modal-body>table tr td{
	border:none !important;}
.modal-body tr td input{	
	width:140px;}
.modal{
	margin-top:5%;}
#rent-approve-table1_info{
	margin-left:15%;}