@charset "utf-8";
/* CSS Document */
@-ms-viewport{ width: device-width;}
html, body {
    background: #ecedf0 none repeat scroll 0 0;
    width: 100%;
}
html {
    font-size: 10px;
}
body {
    color: #777;
    direction: ltr;
    font-family: '微软雅黑';
    font-size: 14px;
    margin: 0;
    min-height: 100%;
    overflow-x: hidden;
    padding: 0;
    position: relative;
}

a {
	color: #cccccc;
}
a:hover, a:focus {
	color: #d9d9d9;
}
a:active {
	color: #bfbfbf;
}
h1 {
	font-size: 32px;
	font-weight: 300;
	letter-spacing: 0;
}
h2 {
	font-size: 28px;
	font-weight: 300;
	letter-spacing: 0;
}
h3 {
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 0;
}
h4 {
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 0;
}
h5 {
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0;
}
h6 {
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 0;
}
textarea {
	min-height: 100px;
	height: 100%;
	width: 100%;
	resize: none;
}
ul, ol {
	margin-top: 0;
	margin-bottom: 0;
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
/* Navbar Notifications */
.navbar {
	margin: 0;
	padding: 0 10px 0 240px;
	height: 62px;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #fff;
	line-height: 62px;
	background:#496D99; !important;
	position: fixed;
	width: 100%;
	z-index: 1039;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}
.navbar .container-nav {
	height: 62px;
}
.navbar .navbar-actions {
	font-size: 20px;
}
.navbar .navbar-actions a {
	color: #fff;
	border-left: none;
}
.navbar .navbar-actions a i {
	border: none !important;
	width: 40px;
	margin-left: 10px;
	display:inline-block;
}
@media only screen and (max-width:767px) {
	.navbar .navbar-actions a i {
		margin-left: 10px;
	}
}

.navbar .navbar-nav li a {
	padding: 0 0 0 10px;
	height: 62px;
	line-height: 62px;
	position: relative;
}
.navbar .navbar-nav li a:hover {
	background: none;
}
.notifications {
	display: inline-block;
	list-style: none;
	margin: -13px 17px 0 0;
	padding: 0 8px;
	vertical-align: middle;
	height: 62px;
}
.notifications > li {
	float: left;
	margin: 20px 10px 0 0;
	position: relative;
}
.notifications > li .notification-icon {
	background: #FFF;
	border-radius: 50%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	display: inline-block;
	height: 30px;
	position: relative;
	width: 30px;
	text-align: center;
	margin: 0 5px;
}
.notifications > li .notification-icon i {
	color: #777;
	line-height: 30px;
	vertical-align: middle;
	margin-bottom: 35px;
	display:inline-block;
}

.notifications > li > a {
	border: none;
	display: inline-block;
}

/* notification menu - pin */
.notifications .notification-icon:before {
	border-bottom: 6px solid #cccccc;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: '';
	height: 0;
	margin-right: -3px;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.notifications .notification-icon:before {
	display: none;
	right: 11px;
	top: 35px;
	z-index: 9999;
}

.navbar .notifications li a {
	color: #c8c8c8;
}
.navbar .notifications li a:hover {
	color: #435D78;
	background: #ffffff;
}

.navbar .notifications li .dropdown-menu {
	margin-top: -20px;
	right: -10px;
	min-width: auto;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
	padding: 0;
	font-size: 13px;
	z-index: 992;
}
.navbar .notifications li .dropdown-menu:after {
	position: absolute;
	top: -7px;
	right: 16px;
	display: inline-block;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #ffffff;
	border-left: 8px solid transparent;
	content: '';
}
.navbar .notifications li .dropdown-menu:before {
	position: absolute;
	top: -9.5px;
	right: 16px;
	display: inline-block;
	border-right: 8px solid transparent;
	border-bottom: 8px solid rgba(0, 0, 0, 0.2);
	border-left: 8px solid transparent;
	content: '';
}
.navbar .notifications li .dropdown-menu li {
	padding: 0;
	position: relative;
	min-width: 200px;
	border: none;
	line-height: 30px;
	padding: 0 15px;
}
.navbar .notifications li .dropdown-menu li .notification {
	min-width: 280px;
}
.navbar .notifications li .dropdown-menu li i {
	font-size: 13px;
	margin-left: 5px;
	color: #333;
	width: 20px;
	margin-right: 3px;
}
.navbar .notifications li .dropdown-menu li:last-child {
	border: none;
}
.navbar .notifications li .dropdown-menu li.dropdown-menu-header, .navbar .notifications li .dropdown-menu li.dropdown-menu-footer {
	background: white;
	border: none;
}
.navbar .notifications li .dropdown-menu li.dropdown-menu-header:after {
	position: absolute;
	content: '';
	width: 100%;
	left: -1px;
	bottom: -2px;
	border-bottom: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding: 0 1px;
}
.navbar .notifications li .dropdown-menu li.dropdown-menu-header {
	margin-bottom: 0;
	height: 50px;
}
.navbar .notifications li .dropdown-menu li a {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	line-height: 30px;
	height: 30px;
	margin: 0 -15px;
	padding: 0 15px;
	border-left: 0 !important;
	background-color: white !important;
	color: #333;
}
.navbar .notifications li .dropdown-menu li a:hover {
	color: #435D78;
}

.navbar .notifications li .dropdown-menu li a div {
	font-size: 14px;
	line-height: 25px;
	font-weight: 300;
}


.hidden-xs, .hidden-sm, .hidden-md, .hidden-lg {
    display: inline-block !important;
}
.teachCenterTitle {
    font-size: 20px;
    margin-top: 5px;
}




.sidebar {
	background: rgba(59, 98, 144, 1);
	color: #cccccc;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 240px;
	z-index: 1102;
	overflow: hidden;
	border-right: 1px solid #CCC;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}
.sidebar a {
	color: #fff;
}
.sidebar .sidebar-header {
	padding: 10px 35px;
	height: 61px;
	line-height: 62px;
	text-align: center;
	position: relative;
	background: #426DA2 !important;
}
.teachCenterTitle {
	margin-top: 5px;
	font-size: 20px
}
.sidebar .sidebar-header img {
	width: 170px;
	text-align: center;
	margin: 0 1px 20px 0;
}
.bk-avatar {
    position: relative;
}
.bk-avatar img.bk-img-60 {
    height: 60px;
    width: 60px;
}
/*Navigation Sidebar Menu*/
.sidebar .sidebar-menu {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 270px;
	height: 400px;
	min-height: 530px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: transparent;
	border-color: #34495E;
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: transparent;
}
.sidebar ul.nav.nav-sidebar {
	margin: 0;
	width: 240px;
	padding: 23px 0;
}
.sidebar ul.nav.nav-sidebar li {
	margin: 5px 0;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	position: relative;
}
.sidebar ul.nav.nav-sidebar li:hover {
	background: none;
	color: #fff;
}
.sidebar ul.nav.nav-sidebar li.active, .sidebar ul.nav.nav-sidebar ul.active a, .sidebar ul.nav.nav-sidebar li.active a, .sidebar ul.nav.nav-sidebar ul.opened {
	background: none;
	color: #fff;
}
.sidebar ul.nav.nav-sidebar li.active:hover, .sidebar ul.nav.nav-sidebar ul.active a:hover, .sidebar ul.nav.nav-sidebar li.active a:hover, .sidebar ul.nav.nav-sidebar ul.opened:hover {
	color: #fff !important;
}
.sidebar ul.nav.nav-sidebar li a {
	line-height: 13px;
	font-size: 13px;
	font-weight: 400;
	border: 1px solid transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.sidebar ul.nav.nav-sidebar li a.active {
	background: none;
	color: #fff;
}
.sidebar ul.nav.nav-sidebar li a:hover {
	border-top-color: #435D78;
	border-bottom-color: #435D78;
	color: #fff;
}
.sidebar ul.nav.nav-sidebar > li > a {
	padding: 10px 25px;
}
.sidebar ul.nav.nav-sidebar > li > a:hover, ul.nav-sidebar > li > a:focus {
	background-color: #none;
}
.sidebar ul.nav.nav-sidebar > li.active > a {
	box-shadow: 3px 0 0 #435D78 inset;
}
.sidebar ul.nav.nav-sidebar > li.active > a:hover {
	color: #abb4be;
}
.sidebar ul.nav.nav-sidebar > li.active > i {
	color: #cccccc;
}
.sidebar ul.nav.nav-sidebar > li.nav-expanded > a {
	background: #2D3F51;
}
.sidebar ul.nav.nav-sidebar li a {
	font-size: 13px;
	font-size: 1.3rem;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.sidebar ul.nav.nav-sidebar li span {
	vertical-align: middle;
}
.sidebar ul.nav.nav-sidebar li.text:hover {
	color: #435D78;
}
.sidebar ul.nav.nav-sidebar li i {
	font-size: 18px;
	font-size: 1.8rem;
	width: 1.1em;
	margin-right: 0.5em;
	text-align: center;
	vertical-align: middle;
}
.sidebar ul.nav.nav-sidebar li.nav-parent {
	position: relative;
}
.sidebar ul.nav.nav-sidebar li.nav-parent > a {
	cursor: pointer;
}
.sidebar ul.nav.nav-sidebar li.nav-parent > a:after {
	font-family: 'FontAwesome';
	content: '\f107';
	font-size: 16px;
	font-size: 1.6rem;
	position: absolute;
	right: 0;
	top: 0;
	padding: 14px 25px;
}
.sidebar ul.nav.nav-sidebar li.nav-parent.nav-expanded > a:after {
	content: '\f106';
}
.sidebar ul.nav.nav-sidebar li.nav-parent.nav-expanded ul.nav-children {
	display: block;
}
.sidebar ul.nav.nav-sidebar li .nav-children {
	background: #f7f6f6;
	box-shadow: 0px -3px 3px -3px rgba(0, 0, 0, 0.7) inset;
	display: none;
	padding: 10px 0;
}
.sidebar ul.nav.nav-sidebar li .nav-children li a {
	padding: 9px 15px 9px 70px;
	color:#000;
}
.sidebar ul.nav.nav-sidebar li .nav-children li a:hover, .sidebar ul.nav.nav-sidebar li .nav-children li a:focus {
	background: #f7f6f6;
}
.sidebar ul.nav.nav-sidebar li .nav-children li.active > a {
	color: #435D78;
}
.sidebar ul.nav.nav-sidebar li ul {
	display: none;
	background: #34495E;
	list-style: none;
	padding: 5px 0;
}
.sidebar ul.nav.nav-sidebar li ul li {
	margin: 5px 0;
}
.sidebar ul.nav.nav-sidebar li ul li ul li a {
	padding-left: 55px;
}

/*sidebar footer*/
.sidebar .sidebar-footer {
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 240px;
	padding: 10px 20px 10px 20px;
	background: #2D3F51;
	height: 50px;
	border-right: 1px solid #eef0f4;
}
.sidebar .sidebar-footer.drop-shadow {
	-webkit-box-shadow: 0 -3px 1px -1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 -3px 1px -1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 -3px 1px -1px rgba(0, 0, 0, 0.05);
}
.sidebar .sidebar-footer a {
	color: #fff;
	text-decoration: none;
}
.sidebar .sidebar-footer ul.sidebar-terms {
	margin: 35px 0 20px 0;
	padding: 0;
}
.sidebar .sidebar-footer ul.sidebar-terms li {
	display: inline-block;
	width: 25%;
	margin: 0 -2px;
	padding: 0;
	text-align: center;
	font-size: 12px;
}
.sidebar .sidebar-footer ul.sidebar-terms li a:hover {
	text-decoration: underline;
}

.main {
	background: #ecedf0;
	padding: 132px 19px 80px 260px;
}

/* Page Header
=================================================================== */
.page-header {
	background: #2D3F51;
	box-shadow: 1px 3px 0 1px #cccccc;
	height: 50px;
	padding: 0;
	z-index: 1000;
	left: 240px;
	margin: 0;
	position: fixed;
	right: 0;
	top: 59px;
	backface-visibility: hidden;
	transform-style: preserve-3d;
}
.page-header .breadcrumb {
	width: 100%;
	padding: 17px 60px;
	margin-bottom: 5px;
	list-style: none;
	background-color: transparent;
	border-radius: 0;
	font-size: 14px;
	font-weight: 400;
}
.page-header .breadcrumb > .active {
	color: #c3c3c3;
}
.page-header .breadcrumb li a {
	text-decoration: none;
	color: #FFF;
}
.page-header .breadcrumb li i {
	margin-right: 8px;
	font-size: 16px;
}
.lname {
	position: absolute;
	left: 0;
	top: 0;
	padding-right: 15px;
}

.grid-stack {
	background: #fff;
}
.sk_college{
	cursor: pointer;
	color: #fff;
	text-align: center;
	background-color: #5A8246;
}
.zh_college{
	cursor: pointer;
	color: #fff;
	text-align: center;
	background-color: #9DBE8F;
}
.dw_college{
	cursor: pointer;
	color: #fff;
	text-align: center;
	background-color: #9EA4D1;
}
.nx_college{
	cursor: pointer;
	color: #fff;
	text-align: center;
	background-color: #009200;
}
.dy_college{
	cursor: pointer;
	color: #fff;
	text-align: center;
	background-color: #9EA4D1;
}
.yx_college{
	cursor: pointer;
	color: #fff;
	text-align: center;
	background-color: #017e4d;
}
.zb_college{
	cursor: pointer;
	color: #fff;
	text-align: center;
	background-color: #00FF00;
}
.other_college{
	cursor: pointer;
	color: #fff;
	text-align: center;
	background-color: #adf6e0;
	/* background-color: #2B83BD; */
}

.gay {
	cursor: pointer;
	color: #fff;
	text-align: center;
	background-color: #2B83BD;
}
.normal {
	cursor: pointer;
	color: #fff;
	text-align: center;
	background-color: #63addc;
}
.lockdiv  {
	color: #fff;
	text-align: center;
	background-color: rgb(128, 40, 51) ;
}
.Havetorent  {
	color: #fff;
	text-align: center;
	background-color: #2d3f51 ;
}
.Lineup{
	position:absolute;
	right:0;
	bottom:0;
}
.wz > li + li::before{content:' '}
.wz > li + li::before{ padding-right:20px;}
.invisible{ display:none;}
.msg{ right: -10px; top:0px; position:absolute; background:#C00}
.read{ color:#ccc;}
#msgtable tr{ cursor:pointer;}
.special{
	max-width:700px;
	_width:expression(this.width >700 ? "700px" : this.width);
	max-height:700px;
	_height:expression(this.height >700 ? "700px" : this.height);
}

.specialOne{
	max-width:300px;
	_width:expression(this.width >300 ? "300px" : this.width);
	max-height:250px;
	_height:expression(this.height >250 ? "250px" : this.height);
}
.article{
background: #fff none repeat scroll 0 0;
padding: 50px 40px;
}
.article .title {
    border-bottom: 1px dashed #ddd;
    margin: 0 0 20px;
    text-align: center;
}
.article .title h1 {
    font-family: PingFang SC,Verdana,Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif;
    font-size: 24px;
    font-weight: 100;
    margin: 0 0 20px;
}
.article .content {
    line-height: 28px;
}
@media screen and (min-width:768px) {
.container-fluid.content {
	overflow: hidden;
}
.sidebar-collapse.collapse {
	display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
}
}


#jumpTo{
  width: 40px;
}
.closeModal{
	float:right;
	cursor:pointer;
}
